.App{
  height: 100vh; /* set a fixed height for the element */
  display: flex;
  flex-direction: column;

  align-items: center;
  gap:20px;
  
  
  overflow: auto; /* enable scrolling when content overflows */
}

.invoiceWrapper{
  background-color: white;
  /* add any other styles you need */
  margin-bottom: 400px;
  margin-top: 20px;

}

.formWrapper{
  max-width: 500px !important;
  display: flex;
  flex-direction: column;
  /* add any styles you need */
}
.buttonWrapper{
  margin-top: 20px;
  margin-bottom: 15px;
  /* margin: auto; */
}
 
.productTableWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
 @media only screen and (max-width: 767px) {
  /* CSS rules here */
.productTableWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 100%;
}
}